:root {
    font-family: KaiTi;
}

body{
    display: grid;
    grid-template-columns: 20vw 60px 40px auto 100px 20vw;
    grid-template-rows: 100px 60vh 100px;
    grid-template-areas:
        " . logo        header      header      header       . "
        " . leftSidebar leftSidebar contentArea rightSidebar . "
        " . footer      footer      footer      footer       . ";
}

.logo{
    grid-area: logo;

    background-color: lightgreen;
}

header{
    grid-area: header;

    background-color: lightblue;
}

.sidebarLeft{
    grid-area: leftSidebar;

    background-color: lightcoral
}

.sidebarRight{
    grid-area: rightSidebar;

    background-color: lightseagreen
}

.content{
    grid-area: contentArea;

    background-color: lightgrey
}

footer{
    grid-area: footer;

    background-color: lightsalmon
}
